<% provide(:title, 'Help') %>
<div class='row'>
  <div class='span12'>
    <h1>Help</h1>
    <p>
      Get help on the INFO2310 MicroPoster at 
      <a href="http://curails.herokuapp.com">the course website</a>
    </p>
  </div>
</div>